<h1>@<%= @tweeter.screen_name %></h1>

<div class="stats <% if @tweeter.stats_job_queued? %>js-calculating <% end %>" data-screen-name="<%= @tweeter.screen_name %>">
  <%= render :partial => "stats", :locals => { :tweeter => @tweeter } %>
</div>
